spring:
  application:
    name: clash-royale-whatsapp-bot

  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
        hibernate:
          format_sql: true

  greenapi:
    instance: ${CLASH_BOT_INSTANCE_ID}
    token: ${CLASH_BOT_TOKEN}
    group: ${CLASH_BOT_GROUP_ID}


  logging:
    level:
      org:
        springframework:
          web: INFO
